<% include partials/header %>
<h1>You fell in love with: <%= thingVar.toUpperCase(); %></h1>

<%  if(thingVar.toLowerCase() === "rusty") { %>
    <p>GOOD CHOICE! RUSTY IS THE BEST!!!</p>
<% } else { %>
    <p>Bad Choice! You should have said Rusty!</p>
<% } %>

<p> P.S THIS IS COMING FROM THE LOVE.JS FILE</p>
<% include partials/footer %>